<!-- "templates/calculator/calculator.html" -->

{% extends 'calculator/base.html' %}

{% block title %}
    Calculator
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container container-fluid text-center mt-4">
        <div class="justify-content-center mt-2 ml-auto mr-auto mb-2">
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-primary btn-lg ml-3 mr-3 mt-3 mb-3" href="{% url 'food' %}" role="button">Food</a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-primary btn-lg ml-3 mr-3 mt-3 mb-3" href="{% url 'travel' %}" role="button">Travel</a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-primary btn-lg ml-3 mr-3 mt-3 mb-3" href="{% url 'households' %}" role="button">Household</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}