<!-- "templates/calculator/find.html" -->

{% extends "calculator/format.html" %}

{% block title %}
    Find
{% endblock %}

{% block head %}

{% endblock %}


{% block body %}
    <div class="container container-fluid">
        <div class="justify-content-center">
            <div class="row">
                {% for person in persons %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ person.avatar.url }}" class="card-img-top" alt="{{ person }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ person }}</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Food</li>
                            <li class="list-group-item">Travel</li>
                            <li class="list-group-item">Household</li>
                        </ul>
                        <div class="card-footer">
                            <a href="#" class="btn btn-outline-info" role="button">Look Up</a>
                            <small><a href="#" class="card-link">#</a></small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}