<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Font Icons -->
        <script src="https://kit.fontawesome.com/3288abfe00.js" crossorigin="anonymous"></script>
        
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        
        {% load static %}
        
        <link href="{% static 'calculator/css/style.css' %}" rel="stylesheet">
        
        <!-- <script src="{% static 'calculator/js/calculat.js' %}"></script> -->

        {% block head %}{% endblock %}

        <!-- Icon -->
        <link rel = "icon" src="https://img.icons8.com/fluent/48/000000/benzene-ring.png" />
        <title> | CarbonFC {% block title %}{% endblock %}</title>
    </head>
    <body class="bg-dark text-white">
        <header>
            <!--TODO: Add NavBar with: App Name, LogIn, LogOut, Register, etc-->
            <nav class="navbar navbar-expand-lg navbar-light bg-warning border" role="navigation">
                <a class="navbar-brand text-success" href="#">CarbonFC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <a class="nav-item nav-link mr-3" href="{% url 'persons' %}">
                                    <img src="https://img.icons8.com/bubbles/50/000000/group.png" />
                                </a>
                                <a class="nav-item nav-link mr-3" href="{% url 'users' %}">
                                    <img src="https://img.icons8.com/bubbles/50/000000/check-male.png" />
                                </a>
                            {% endif %}
                            <a class="nav-item nav-link mr-3" href="{% url 'home' %}">
                                <img src="https://img.icons8.com/bubbles/50/000000/benzene-ring.png" />
                            </a>
                            <a class="nav-item nav-link mr-3" href="{% url 'user' request.user.id %}">
                                <img src="https://img.icons8.com/bubbles/50/000000/find-user-male.png" />
                            </a>
                            <a class="nav-item nav-link mr-3" href="{% url 'logout' %}">
                                <img src="https://img.icons8.com/bubbles/50/000000/logout-rounded.png" />
                            </a>
                        {% endif %}
                        <a class="nav-item nav-link mr-3" href="{% url 'password_reset' %}">
                            <img src="https://img.icons8.com/bubbles/50/000000/recurring-appointment.png" />
                        </a>
                        <a class="nav-item nav-link mr-3" href="{% url 'signup' %}">
                            <img src="https://img.icons8.com/bubbles/50/000000/add-user-male.png" />
                        </a>
                    </div>
                </div>
            </nav>
        </header>
    
        <main>
            {% block body %} {% endblock %}
        </main>
    
        <hr class="mt-5">
    
        <section class="comments">
            <script src="https://utteranc.es/client.js" repo="PriyanshBordia/CarbonFC" issue-term="title" label="utterances" theme="github-dark" crossorigin="anonymous" async></script>
        </section>
    
        <hr style="max-width:700px;">
        
        <!-- <div id="social-handles" class="justify-content-center">
            <a href="https://priyanshbordia.github.io/" class="ml-3" target="_blank" title="Priyansh Bordia"><i
                    class="fas fa-link"></i></a>
            <a href="https://github.com/PriyanshBordia" class="ml-3" target="_blank" title="PriyanshBordia"><i
                    class="fab fa-github fa"></i></a>
            <a href="mailto:priyanshbordia2@gmail.com" class="ml-3" target="_blank" title="priyanshbordia2"><i
                    class="fab fa-envelope fa"></i></a>
            <a href="https://www.linkedin.com/in/priyansh-b-81bb8218b/" class="ml-3" target="_blank" title="Priyansh B."><i
                    class="fab fa-linkedin fa"></i></a>
            <a href="https://twitter.com/PriyanshBordia1" class="ml-3" target="_blank" title="PriyanshBordia1"><i
                    class="fab fa-twitter fa"></i></a>
            <a href="https://www.instagram.com/priyansh.bordia/" class="ml-3" target="_blank" title="priyansh.bordia"><i
                    class="fab fa-instagram fa"></i></a>
            <a href="https://www.youtube.com/channel/UCwBlonvBFFd4UGvnnVKVncQ?view_as=subscriber" class="ml-3" target="_blank"
                title="Priyansh Bordia"><i class="fab fa-youtube fa-"></i></a>
        </div>
    
        <hr style="max-width:700px;"> -->
        
        <footer class="button">
            &copy; 2021 CarbonFC, Inc.
        </footer>
    </body>
</html>