<!-- "templates/calculator/home.html" -->

{% extends 'calculator/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {% load static %}
{% endblock %}


{% block body %}
    {% if user.is_authenticated %}
        <div class="container container-fluid text-center">
            <div class="justify-content-center">
                <span><img src="https://img.icons8.com/clouds/200/000000/meeting.png" /></span>
                <div class="home-head h2">
                    Hi! <span id="username">{{ user.username }}</span>, <br>
                    Welcome Back :)
                </div>
				<div class="row">
					<div class="col-md-6">
						<a class="form-control form-control-lg btn btn-outline-info btn-lg" href="{% url 'search' %}">Find People</a>
					</div>
					<div class="col-md-6">
						<a class="form-control form-control-lg btn btn-outline-info btn-lg" href="{% url 'calculator' %}">Calculator</a>
					</div>						
				</div>
            </div>
        </div>
    {% else %}
        <div class="container container-fluid text-center">
            <div class="justify-content-center">
                <span><img src="https://img.icons8.com/clouds/200/000000/meeting.png" /></span>
                <div class="home-head h2">
                    <span id="username">Welcome</span>,<br>
                        Log In to be more conscious.
                </div>
                <a class="form-home-button btn btn-outline-info mt-3" href="{% url 'login' %}" role="button">LogIn</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
