<!-- "templates/calculator/persons.html" -->

{% extends "calculator/format.html" %}

{% block title %}
    Persons
{% endblock %}

{% block head %}

{% endblock %}


{% block body %}
    <div id="persons" class="container container-fluid text-center mt-4">
        <div class="justify-content-center mt-2 ml-auto mr-auto mb-2">
            {% if persons %}
                <h1>Persons</h1>
                <div>
                    <span style="float: left;"><img src="https://img.icons8.com/bubbles/200/000000/business-man-in-blue-jacket.png" /></span>
                    <span style="float: right;"><img src="https://img.icons8.com/bubbles/200/000000/businesswoman.png" /></span>
                </div>
                <hr>
                <br>
                <table class="center">
                    <thead>
                        <tr>
                            <th>UPIDCFC</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Details</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for person in persons %}
                        <tr>
                            <td>{{ person.id }}</td>
                            <td>{{ person.first_name }}</td>
                            <td>{{ person.last_name }}</td>
                            <td><a class="btn btn-outline-warning btn-md mt-2 mb-2 ml-2 mr-2" href="{% url 'person' person.id %}"
                                    role="button">Show</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="empty-data-list alert alert-success mt-4" role="alert">No Persons Registered.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}