<!-- "calculator/user.html" -->

{% extends "calculator/format.html" %}

{% block title %}
User
{% endblock %}

{% block head %}
<style>
    form {
        max-width: 900px;
        margin: auto;
        align-items: center;
    }
</style>
{% endblock %}


{% block body %}
<form methos="post" enctype="multipart/form-data">
    <h1>User</h1>
    {% csrf_token %}

    {{ form.as_p }}

    <!-- <input type="text" name="" id=""> -->
    <button type="reset">Reset</button>
    <button type="submit">Save</button>
</form>
{% endblock %}