<!-- "templates/calculator/user.html" -->

{% extends "calculator/format.html" %}

{% block title %}
    UUIDCFC {{ user_details.id }}
{% endblock %}

{% block head %}
    <style>
        form
        {
            max-width: 900px;
            margin: auto;
            align-items: center;
            overflow: hidden;
        }
     </style>
{% endblock %}


{% block body %}
    <div class="conatainer container-fluid">
        <div class="justify-content-center">
            <div>
                <span style="float: left;"><img src="https://img.icons8.com/bubbles/200/000000/user-male.png" /></span>
                <span style="float: right;"><img src="https://img.icons8.com/bubbles/200/000000/user-female.png" /></span>
            </div>
            <hr>
            <span><h2>User Details</h2></span>
            <span><h3>UUIDCFC{{ user_details.id }}</h3></span>
            <br>
            {% if user_details.id == request.user.id %}
                <form class="form-group" action="{% url 'uUpdate' %}" method="post">

                    {% csrf_token %}

                    <div class="form-group form-text h4">
                        <input class="form-control col-md-4 ml-auto mr-auto" type="text" autocomplete="off" autofocus placeholder="First Name" name="first_name" value="{{ user_details.first_name }}">
                    </div>
                    <div class="form-group form-text h4">
                        <input class="form-control col-md-4 ml-auto mr-auto" type="text" autocomplete="off" autofocus placeholder="Last Name" name="last_name" value="{{ user_details.last_name }}">
                    </div>
                    <div class="form-group form-text h4">
                        <input class="form-control col-md-4 ml-auto mr-auto" type="email" autocomplete="off" autofocus placeholder="E-mail" aria-describedby="emailHelp" name="email" value="{{ user_details.email }}">
                    </div>
                    <button class="btn btn-outline-primary mt-4" type="submit" name="button">Update Details</button>
                </form>
            {% else %}
                <h4><strong>Username : </strong>{{ user_details.username }}</h4>
                <h4><strong>First Name : </strong>{{ user_details.first_name }}</h4>
                <h4><strong>Last Name : </strong>{{ user_details.last_name }}</h4>
                <h4><strong>E-mail : </strong>{{ user_details.email }}</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}