<!-- "templates/calculator/wishlist.html" -->

{% extends "calculator/format.html" %}

{% block title %}

{% endblock %}

{% block head %}

{% endblock %}


{% block body %}
    <div class="container container-fluid text-center mt-4">
        <div class="justify-content-center mt-2 ml-auto mr-auto mb-2">
            {% if persons %}
                {% for person in persons %}
                    <div class="row">
                        <div class="card bg-dark" style="width: 18rem;">
                            <img src="{{ person.avatar.url }}" class="card-img-top" alt="{{ person }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ person }}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p>
                                <a href="{% url 'person' person.id %}" class="btn btn-primary">Look Up</a>
                            </div>
                            <div class="card-footer">
                                Last Online
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert">No One Added.!!</div>
                <a class="btn btn-outline-info" href="{% url 'search' %}" role="button">Find People.</a>
            {% endif %}
        </div>
    </div>
{% endblock %}