$form-width-sm: 600px;
$form-width-md: 700px;
$form-width-lg: 800px;

$width-xs: 0px;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;

$btn-size-sm: 2.0in;
$btn-size-sm: 2.5in;
$btn-size-md: 3.0in;
$btn-size-lg: 3.5in;
$btn-size-xl: 5.0in;

$font-xl: 2.0rem;
$font-lg: 1.50rem;
$font-md: 1.250rem;
$font-sm: 1.125rem;
$font-xs: 0.875rem;


$Barely-Green: #acb7ae;
$LightSaber-Blue: #c2dde6;
$Blonde: #c2b490;
$Deep-Matte-Grey: #393f4d;
$Dark-Slate:#1d1e22;
$Simpler-Lime-Green: #7dce94;
$Rose-Gold: #bd8c7d;
$Soft-Gold:	#d1bfa7;
$Silver: #8e8e90;
$Onyx: #49494b;
$Scuffed-Dark-Grey: #3d3d3f;
$Vanilla-Grey: #f6f5f3;
$White-ish: #f9f8fd;
$u1: #F6AF44;
$u2: #5b9084;

$std-font: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
