.calculator-container
{
    max-width: $form-width-md;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.login-action-head, .register-action-head, .form-home-head, .reset-password-action-head
{
    margin: auto;
    font-size: $font-md;
}


.search-btn
{
    width: $form-btn-size-lg;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none !important;
}

.register-action-btn, .search-btn
{
    max-width: $form-btn-size-xl;
    text-decoration: none !important;
}

.login-action-button, .book-action-button, .password-change-btn
{
    width: $form-btn-size-md;
    text-decoration: none !important;
}

.form-home-button, .reset-password-action-button
{
    width: $form-btn-size-sm;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none !important;
}

.register-action-container, .login-action-container, .form-home-container, .reset-password-action-container
{
    max-width: $form-width-md;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.reset-password-action-text
{
    margin: auto;
    font-size: 22px;
    color: #bd8c7d;
}

