$form-width-sm: 600px;
$form-width-md: 700px;
$form-width-lg: 800px;

$form-btn-size-sm: 2.5in;
$form-btn-size-md: 3in;
$form-btn-size-lg: 3.5in;
$form-btn-size-xl: 5in;

$font-lg: 24;
$font-md: 20;
$font-sm: 18;
$sm: 576px;
$lg: 768px;
$xl: 1200px;

$Barely-Green: #acb7ae;
$LightSaber-Blue: #c2dde6;
$Blonde: #c2b490;
$Deep-Matte-Grey: #393f4d;
$Dark-Slate:#1d1e22;
$Simpler-Lime-Green: #7dce94;
$Rose-Gold: #bd8c7d;
$Soft-Gold:	#d1bfa7;
$Silver: #8e8e90;
$Onyx: #49494b;
$Scuffed-Dark-Grey: #3d3d3f;
$Vanilla-Grey: #f6f5f3;
$White-ish: #f9f8fd;
$u1: #F6AF44;
$u2: #5b9084;

$std-font: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

// $theme-colors: (
//   "primary": #0074d9,
//   "danger": #ff4136,
// );

// $colors: (
//   "blue": $blue,
//   "indigo": $indigo,
//   "purple": $purple,
//   "pink": $pink,
//   "red": $red,
//   "orange": $orange,
//   "yellow": $yellow,
//   "green": $green,
//   "teal": $teal,
//   "cyan": $cyan,
//   "white": $white,
//   "gray": $gray-600,
//   "gray-dark": $gray-800
// ) !default;
